.footer-paddings {
  padding-bottom: 60px;
  padding-top: 60px;
}

.footer-section-li:not(:last-child) {
  margin-bottom: 9px;
}
.addres--footer-margin {
  margin-top: 20px;
}
.footer-li-addres-section {
  margin-bottom: 9px;
}
.footer-contact-section,
.footer-tell-section {
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contact-section:hover,
.footer-contact-section:focus,
.footer-address-section:hover,
.footer-address-section:focus,
.footer-tell-section:hover,
.footer-tell-section:focus {
  color: var(--accent-color);
}

.footer-address-section {
  font-style: normal;
  text-decoration: none;
  line-height: 24px;
  color: var(--main-batton-address-color);
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.all-footer-menu {
  display: flex;
  align-items: baseline;
}
.right-footer-container {
  margin-left: 70px;
}
.right-footer-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: var(--main-batton-address-color);
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 20px;
  display: block;
}
.right-footer-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-footer-item {
  justify-content: baseline;
  margin-right: 10px;
}
.right-footer-link {
  width: 44px;
  height: 44px;
  background-color: #44454e;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-content: center;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.right-footer-item:last-child {
  margin-right: 0px;
}
.right-footer-icons {
  fill: #ffffff;
  margin-top: 12px;
  cursor: pointer;
}
.right-footer-link:hover,
.right-footer-link:focus {
  background-color: var(--accent-color);
}
.footer-menu {
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
}
.foter-addres-list {
  padding-top: 20px;
}
.footer-border {
  border-style: solid 1px #000000;
  box-shadow: 0 4px 4px 0 #000000;
}
