.section-clients-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03;
  color: var(--portfolio-main-color);
  text-decoration: none;
  text-align: center;
  margin-bottom: 50px;
}
.occupation-team-sections {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--portfolio-main-color);
  margin-bottom: 50px;
}
